body{
  background-color: rgb(0, 0, 0); 
  scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
}
.container{
  
}
.logo{
  width: 550px;
  height: 550px;
  
}
.footertp{
  margin-top: 350px;
}
a{
  color:  rgb(113, 118, 123);
  text-overflow: unset;
  margin-left: 18px;
  font-size: 13px;
  text-decoration: none;
}